{% extends "layout.html.twig" %}

{% block title %}Player [{{ player.league.name }}] {{ player.name }}{% endblock %}

{% block content %}
    <h2><i class="fa fa-user-circle-o"></i> <strong>[{{ player.league.name }}] {{ player.name }}</strong></h2>
    <form method="POST" action="/player/delete">
        <div class="row">
            <div class="col-md-6">
                <p>
                    Score: <strong>{{ player.score }}</strong>
                </p>
                <p>
                    Games played: <strong>{{ gamesCount }}</strong>
                </p>
                {% if winRate is defined %}
                <p>
                    Win rate: <strong>{{ winRate|round }}%</strong>
                </p>
                {% endif %}

                {% if player.status == 'deleted' %}
                <p class="text-muted">
                    Deleted
                </p>
                {% else %}
                <input type="hidden" name="id" value="{{ player.id }}">
                <button class="btn btn-danger">Delete</button>
                {% endif %}
                <a href="/player/edit/{{ player.id }}" class="btn btn-secondary">Edit</a>
            </div>
        </div>
    </form>

    <h2>Recent results</h2>
    {% include 'result/list.html.twig' with {'currentPlayer': player} %}
{% endblock %}
