{% extends "layout.html.twig" %}

{% block title %}Add result{% endblock %}

{% block content %}
    <h2>Add result</h2>
    <form method="POST">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="winnersSelect">Winners</label>
                    <select multiple class="form-control" id="winnersSelect" name="winners[]">
                        {% for player in players %}
                            <option value="{{ player.id }}">[{{ player.league.name }}] {{ player.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="losersSelect">Losers</label>
                    <select multiple class="form-control" id="losersSelect" name="losers[]">
                        {% for player in players %}
                            <option value="{{ player.id }}">[{{ player.league.name }}] {{ player.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <button class="btn btn-primary">Save</button>

                    <button type="button" class="btn btn-default js-clear">Clear</button>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12">
            <h3>Recent results</h3>
            {% include 'result/list.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
<script>
    $(function () {
        $(document)
            .on('change', '#winnersSelect, #losersSelect', function () {
                if ($(this).attr('id') === 'winnersSelect') {
                    var otherSelect = $('#losersSelect');
                } else {
                    var otherSelect = $('#winnersSelect');
                }
                otherSelect.find('option').prop('disabled', false);

                for (var option in $(this).val()) {
                    otherSelect.find('option[value="'+$(this).val()[option]+'"]').prop('disabled', true);
                }
            })
            .on('click', '.js-clear', function () {
                $('#winnersSelect, #losersSelect').find('option:selected').prop('selected', false)
                $('#winnersSelect, #losersSelect').find('option:disabled').prop('disabled', false)
            })
        ;
    });
</script>
{% endblock %}
