<table class="table table-sm table-stripped">
    <thead class="thead-default">
    <tr>
        <th>Win</th>
        <th>Lose</th>
        <th>Time</th>
    </tr>
    </thead>
    {% for result in results %}
        <tr>
            <td>
                {% for player in result.winners %}
                    <span class="winner"><a href="/player/{{ player.id }}">{{ player.name }}</a></span>
                {% endfor %}
            </td>
            <td>
                {% for player in result.losers %}
                    <span class="loser"><a href="/player/{{ player.id }}">{{ player.name }}</a></span>
                {% endfor %}
            </td>
            <td>{{ result.playedAt|date('Y-m-d H:i') }}</td>
        </tr>
    {% endfor %}
</table>
