<table class="table table-sm table-stripped">
    <thead class="thead-default">
    <tr>
        <th>Win</th>
        <th>Lose</th>
        <th>Played</th>
    </tr>
    </thead>
    {% for result in results %}
        <tr>
            <td>
                {% for player in result.winners %}
                    <div><span class="player">
                        {{ player == currentPlayer ? '<strong>' }}
                            <a href="/player/{{ player.id }}">[{{ player.league.name }}] {{ player.name }}</a>
                            {% if gainMap[result.id][player.id] is defined %}
                                {% include 'gain.html.twig' with {'gain': gainMap[result.id][player.id]} %}
                            {% endif %}
                        {{ player == currentPlayer ? '</strong>' }}
                    </span></div>
                {% endfor %}
            </td>
            <td>
                {% for player in result.losers %}
                    <div><span class="player">
                        {{ player == currentPlayer ? '<strong>' }}
                            <a href="/player/{{ player.id }}">[{{ player.league.name }}] {{ player.name }}</a>
                            {% if gainMap[result.id][player.id] is defined %}
                                {% include 'gain.html.twig' with {'gain': gainMap[result.id][player.id]} %}
                            {% endif %}
                        {{ player == currentPlayer ? '</strong>' }}
                        </span></div>
                {% endfor %}
            </td>
            <td>{{ result.playedAt|date('j M') }}</td>
        </tr>
    {% endfor %}
</table>
